In [2]:
#Importing packages
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [4]:
#Creating the SparkSession
spark = SparkSession.builder.appName("First").getOrCreate()

In [6]:
#Defining the Schema
mySchema = StructType([\
                        StructField("userId",IntegerType(), True),
                        StructField("name",StringType(), True),
                        StructField("age",IntegerType(), True),
                        StructField("friends",IntegerType(), True),
                        ])

In [10]:
#Creating Dataframe on a CSV File named fakefriends in the same directory
people = spark.read.format("csv")\
    .schema(mySchema)\
    .option("path","fakefriends.csv")\
    .load()

In [26]:
#Performing transformations
output = people.select(people.userId,people.name\
                      ,people.age,people.friends)\
            .where(people.age<25).withColumn('insert_ts',func.current_timestamp())\
            .orderBy(people.userId)

In [28]:
#Taking the count of output Dataframe (performing action)
output.count()

54

In [38]:
#Creating a Temporary View to display as a Table
output.createOrReplaceTempView("peoples")

In [48]:
#Running Spark SQL Query
spark.sql("select name,age,friends,insert_ts from peoples").show()

+-------+---+-------+--------------------+
|   name|age|friends|           insert_ts|
+-------+---+-------+--------------------+
| Weyoun| 22|    323|2025-02-21 23:41:...|
|  Miles| 19|    268|2025-02-21 23:41:...|
|    Ben| 21|    445|2025-02-21 23:41:...|
| Julian| 22|    100|2025-02-21 23:41:...|
|  Brunt| 24|     49|2025-02-21 23:41:...|
|    Nog| 20|      1|2025-02-21 23:41:...|
|Beverly| 19|    269|2025-02-21 23:41:...|
|  Brunt| 19|      5|2025-02-21 23:41:...|
| Geordi| 20|    100|2025-02-21 23:41:...|
| Geordi| 21|    477|2025-02-21 23:41:...|
| Kasidy| 22|    179|2025-02-21 23:41:...|
|  Brunt| 20|    384|2025-02-21 23:41:...|
|   Worf| 24|    492|2025-02-21 23:41:...|
|Beverly| 18|    499|2025-02-21 23:41:...|
|  Dukat| 18|    397|2025-02-21 23:41:...|
|  Quark| 19|    265|2025-02-21 23:41:...|
|   Will| 19|    335|2025-02-21 23:41:...|
|  Miles| 22|     93|2025-02-21 23:41:...|
|  Leeta| 23|    129|2025-02-21 23:41:...|
| Kasidy| 21|    472|2025-02-21 23:41:...|
+-------+---+-------+--------------------+
only showing top 20 rows