In [26]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [28]:
spark = SparkSession.\
builder.\
appName("sparksql").\
getOrCreate()

In [30]:
print(spark.version)

3.5.4

In [32]:
data = spark.read.format('csv').\
option('inferSchema','true').\
option('header','true').\
option('path','operations_management.csv').\
load()

In [34]:
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [36]:
dataX = data.select("industry","value").\
filter(col("value") > 5000).\
orderBy(desc("value"))

In [40]:
dataX.show(6)

+--------+-----+
|industry|value|
+--------+-----+
|   total|41091|
|   total|40431|
|   total|33984|
|   total|33750|
|   total|32652|
|   total|31134|
+--------+-----+
only showing top 6 rows

In [50]:
dataY = data.select("industry","value").\
filter((col("value") > 200) & (col("industry")!="total")).\
orderBy(desc("value"))

In [52]:
dataY.show(11)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
|        Construction| 4959|
|Accommodation & f...| 4950|
|        Construction| 4686|
|        Construction| 4668|
|        Construction| 4665|
|       Manufacturing| 4662|
+--------------------+-----+
only showing top 11 rows

In [54]:
dataY.createOrReplaceTempView("data")

In [58]:
spark.sql("""SELECT industry,value 
FROM data 
WHERE value>200 AND industry!="total" """).show(11)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
|        Construction| 4959|
|Accommodation & f...| 4950|
|        Construction| 4686|
|        Construction| 4668|
|        Construction| 4665|
|       Manufacturing| 4662|
+--------------------+-----+
only showing top 11 rows